<div class="body-wrap masonry-container">

    <section class="slice sct-color-4">
        <div class="container">

            <div class="row masonry">

                <div class="masonry-item col-sm-6 col-md-4">
                    <div class="block block-image relative">
                        <div class="block-image relative">
                            <div class="animate-on-scroll fadeInUp">
                                <%= image_tag "col1.jpg"%>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="masonry-item col-sm-6 col-md-4">
                    <div class="block block-image relative">
                        <div class="block-image relative">
                            <div class="animate-on-scroll fadeInUp" data-wow-delay="0.3s">
                                <%= image_tag "person4.jpg"%>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="masonry-item col-sm-6 col-md-4">
                    <div class="block block-image relative">
                        <div class="block-image relative">
                            <div class="animate-on-scroll fadeInUp" data-wow-delay="0.6s">
                                <%= image_tag "col5.jpg"%>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="masonry-item col-sm-6 col-md-4">
                    <div class="block block-image relative">
                        <div class="block-image relative">
                            <div class="animate-on-scroll fadeInUp" data-wow-delay="0.9s">
                                <%= image_tag "col2.jpg"%>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="masonry-item col-sm-6 col-md-4 identity">
                    <div class="block block-image relative">
                        <div class="block-image relative">
                            <div class="animate-on-scroll fadeInUp" data-wow-delay="0.12s">
                                <%= image_tag "col3.jpg"%>
                            </div>
                        </div>
                    </div>
                </div>

                
                <div class="masonry-item col-sm-6 col-md-4 design">
                    <div class="block block-image relative">
                        <div class="block-image relative">
                            <div class="animate-on-scroll fadeInUp" data-wow-delay="0.15s">
                                <%= image_tag "col4.jpg"%>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="masonry-item col-sm-6 col-md-4 identity">
                    <div class="block block-image relative">
                        <div class="block-image relative">
                            <div class="animate-on-scroll fadeInUp" data-wow-delay="0.18s">
                                <%= image_tag "person1.jpg"%>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="masonry-item col-sm-6 col-md-4 design">
                    <div class="block block-image relative">
                        <div class="block-image relative">
                            <div class="animate-on-scroll fadeInUp" data-wow-delay="0.21s">
                                <%= image_tag "landscape.jpg"%>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="masonry-item col-sm-6 col-md-4 design">
                    <div class="block block-image-holder">
                        <div class="block-image">
                            <div class="animate-on-scroll fadeInUp" data-wow-delay="0.24s">
                                <%= image_tag "line4.jpg"%>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="masonry-item col-sm-6 col-md-4 design">
                    <div class="block block-image relative">
                        <div class="block-image relative">
                            <div class="animate-on-scroll fadeInUp" data-wow-delay="0.27s">
                                <%= image_tag "person6.jpg"%>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="masonry-item col-sm-6 col-md-4 branding">
                    <div class="block block-image relative">
                        <div class="block-image relative">
                            <div class="animate-on-scroll fadeInUp" data-wow-delay="0.30s">
                                <%= image_tag "person2.jpg"%>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="masonry-item col-sm-6 col-md-4 branding">
                    <div class="block block-image relative">
                        <div class="block-image relative">
                            <div class="animate-on-scroll fadeInUp" data-wow-delay="0.33s">
                                <%= image_tag "line1.jpg"%>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="masonry-item col-sm-6 col-md-4 branding">
                    <div class="block block-image relative">
                        <div class="block-image relative">
                            <div class="animate-on-scroll fadeInUp" data-wow-delay="0.35s">
                                <%= image_tag "person3.jpg"%>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="masonry-item col-sm-6 col-md-4 branding">
                    <div class="block block-image relative">
                        <div class="block-image relative">
                            <div class="animate-on-scroll fadeInUp" data-wow-delay="0.38s">
                                <%= image_tag "person5.jpg"%>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="masonry-item col-sm-6 col-md-4 branding">
                    <div class="block block-image relative">
                        <div class="block-image relative">
                            <div class="animate-on-scroll fadeInUp" data-wow-delay="0.41s">
                                <%= image_tag "line3.jpg"%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

</div>

