<!-- Sections -->
<section class="sct-color-4">
    <div class="container-fluid no-padding">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="col-wrapper--spaced text-center animate-on-scroll fadeInDown">
                    <h3 class="heading heading-xl strong-600 text-capitalize" style="color: #36423c">
                        up the Jungle                                        
                    </h3>
                    <h3 class="heading heading-4 strong-300" >
                        <%= link_to "Browse the collection", collections_path, style:"color: #36423c"%>
                    </h3>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="animate-on-scroll fadeInUp">
                    <span>
                        <%= image_tag "landscape.jpg", class:"img-fluid"%>
                    </span>
                </div>
            </div>
        </div>
        <span class="clearfix"></span>
    </div>
</section>

<section class="slice-lg sct-color-4" style="background-color: black">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 order-lg-2">
                <div class="col-wrapper--spaced text-center animate-on-scroll fadeInUp" data-wow-delay="0.3s">
                    <h3 class="heading heading-2 strong-600 text-normal" style="color: #36423c">
                        Art Col
                    </h3>
                    <h3 class="heading heading-4 strong-300">
                        <%= link_to "Who we are and what we stand for", about_path, style:"color: #36423c"%>
                    </h3>
                </div>
            </div>

            <div class="col-lg-5 order-lg-1 ml-lg-auto">
                <div class="blog block-image-holder animate-on-scroll fadeInUp">
                    <div class="block-image">
                        <%= image_tag "person1.jpg" %>
                    </div>
                </div>
            </div>
        </div>

        <br/>
        <br/>
        <br/>

        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="col-wrapper--spaced text-center animate-on-scroll fadeInUp" data-wow-delay="0.3s">
                    <h3 class="heading heading-2 strong-600 text-normal"  style="color: #36423c">
                    Let's talk 
                    </h3>
                    <h3 class="heading heading-4 strong-300">
                        <%= link_to "We want to hear what you think", contact_path, style:"color: #36423c"%> 
                    </h3>
                </div>
            </div>

            <div class="col-lg-5">
                <div class="blog block-image-holder animate-on-scroll fadeInUp" >
                    <div class="block-image">
                        <%= image_tag "person2.jpg" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

