<div class="header">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar--bold navbar-light bg-default" style="background-color: black">
        <div class="container navbar-container">
            <!-- Brand/Logo -->
            <a class="navbar-brand">
                <%= image_tag "logo.png", width: 70, height: 70 %>
            </a>
            <div class="collapse navbar-collapse align-items-center " id="navbar_main">
                <!-- Navbar links -->
                <ul class="navbar-nav">
                    <li class="nav-item dropdown megamenu">
                    <span>
                        <%= link_to 'Home', root_path, class:"nav-link", style:"color: #56635e" %>
                    </span>
                    </li>
                    <li class="nav-item dropdown megamenu">
                    <span>
                        <%= link_to 'About us', about_path, class:"nav-link", style:"color: #56635e" %>
                    </span>
                    </li>
                    <li class="nav-item dropdown megamenu">
                    <span>
                        <%= link_to 'Collections', collections_path, class:"nav-link", style:"color: #56635e" %>
                    </span>
                    </li>
                    <li class="nav-item dropdown megamenu">
                    <span>
                        <%= link_to 'Contact us', contact_path, class:"nav-link", style:"color: #56635e" %>
                    </span>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>


